// for the most common breakpoints

$bp-sm: 'screen and (min-width: 640px)';

$bp-md: 'screen and (min-width: 768px)';

$bp-lg: 'screen and (min-width: 1024px)';

$bp-xl: 'screen and (min-width: 1280px)';

$bp-2xl: 'screen and (min-width: 1536px)';





